body{
    background: url(backi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	margin-right: 15px;
	  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a:hover{
	background:white;
	color:#367aae;
	border-radius:4px;
	box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
}

#logoja1{
	width: 160px;
	height: 100px;
}
#titulli1{
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size:50px;
	text-transform: uppercase;
	color: #367aae;	
	margin-left: 10px;
}
#btn1{
  background-color: #367aae;
  background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(54,122,160,1) 0%);  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 100%;
  margin: 5px;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  margin-left: 10px;
}
#btn2{
	background-color: white;
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color:#367aae;
  cursor: pointer;
  display: block;
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 100%;
  margin: 5px;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  margin-left: 10px;

}
.butonat{
	justify-content: left;
	display: flex;
}

#desc{
	font-size: 15px;
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
	color:white;
	text-shadow: 2px 2px 5px #367aae ;
	margin-left: 10px;
}
.ajroo{
	display: flex;
	width: 720px;
	height: 280px;
	position: relative;
	left:530px;
	bottom: 230px;
}

